name: E2E Steps Demo

on:
  push:

jobs:
  demo:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Simple step
        run: echo "Hello from GitHub Actions"
